<style type="text/css">
body {   
   background: url("WUL-sTep.github.io/WUL Yeah.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  }
  
  h2{
Font-family: Arial, ‘Times New Roman’, Times, Sans-serif;
margin-left: 12.5em;
color:#551A8B
}
  h3{
Font-family: Arial, ‘Times New Roman’, Times, Sans-serif;
color:#551A8B
  }
  
p{
Font-family: Arial, ‘Times New Roman’, Times, Sans-serif;
margin-left: 18.5em;
margin-right: 19.5em;
}
    
-->
</style>
